$textcolor: #045dc8;
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.mainitem {
  flex-grow: 4;
  background-image: url(../images/DiabloLake.jpg);
  background-size: cover;
}

.mainitem img {
  border-radius: 1%;
}

.welcomemsg {
  color: #e9fcfe;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

.mainimgs {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.mainimg {
  animation-name: opacitychange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 320px;
  background-color: white;
  margin-bottom: 25px;
  text-align: center;
  padding: 1%;
  font-size: 25px;
  margin-left: 20px;
}
.mainimg:hover {
  transform: scale(1.2);
}

@keyframes opacitychange {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.feedback-form {
  margin-left: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 820px;
  background-color: white;
  margin-bottom: 25px;
  text-align: center;
  padding: 1%;
  opacity: 90%;
}

.feedback-form label,
input {
  color: black;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.hide {
  display: none;
}
.feedback-form-input {
  color: black;
  font-family: "Amatic SC";
}
.feedback-form-submit {
  background-color: #008cba;
  color: black;
  font-family: "Amatic SC";
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #008cba;
  border-radius: 4px;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: bolder;
}

input::file-selector-button {
  font-family: "Amatic SC";
  background-color: #008cba;
  padding: 10px;
  border: thin solid grey;
  border-radius: 3px;
  font-weight: bolder;
}
